{% extends 'Portfolio/base.html.twig' %}

{% block content %}

    <div class="radius5greylight2 top5">
        <h4>Imagination, réalisation</h4>
        <p class="fs-6">
            Sur cette page je vous présente certaines de mes petites créations que j'ai pu imaginer et produire lors de mon temps en entreprise.
        </p>
    </div>

    {% set link = 'creationTortue' %}
    {% set links = ['creationTortue', 'creationAventurine', 'creationChevaliere', ''] %}
    {% set titre = 'La tortue' %}
    {% set titres = ['La tortue', "Bague argent serti d'une aventurine", 'Chevalière argent', "Pendentif argent serti d'une tourmaline rose"] %}
    {% set img = 'creation_tortue_1.png' %}
    {% set imgs = ['creation_tortue_1.png', 'creation_aventurine_1.png', 'creation_chevaliere_1.png', 'creation_pendentif_1.png'] %}
    {% set description = "Pièce réalisé à partir d'une plaque et de petit débris d'argent.<br>
        - sciage<br>
        - dessin<br>
        - embouti<br>
        - soudure" %}
    {% set descriptions = [
        "Pièce réalisé à partir d'une plaque et de petit débris d'argent.<br>
            - sciage<br>
            - dessin<br>
            - embouti<br>
            - soudure",
        "Bague faite en utilisant de plaques et du fil demi jonc en argent.<br>
            - sciage<br>
            - perçage<br>
            - laminage<br>
            - soudure<br>
            - sertissage",
        "Je l'ai réalisé à partir d'une plaque d'argent.<br>
            - dessin<br>
            - sciage<br>
            - ajustage<br>
            - soudure précise",
        "Pendentif réalisé avec une plaque et du fil d'argent.<br>
            - laminage<br>
            - sciage<br>
            - soudure<br>
            - sertissage"
    ] %}

    {% for link in links %}
        {% set i = loop.index0 %}
        {{ include('Portfolio/imageEtDescription.html.twig', {
            link:link,
            titre: titres[i],
            img: imgs[i],
            description: descriptions[i]
        }) }}
    {% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript' src="{{ asset('build/js/apprendre.js') }}"></script>
{% endblock %}
