<div class="radius3white top20">
    <img id="img"
         class="img-fluid responsive"
         alt="{{ nom~' phase '~i }}"
         title="{{ nom~' phase '~i }}"
         src="{{ asset('/build/images/portfolio/creation_'~string~'_'~(i + 1)~'.png') }}">
</div>