{% extends 'base.html.twig' %}

{% block content %}
    <div class="container mt-4 p-4 radius5white">


        apprendre
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript' src="{{ asset('js/birds.js') }}"></script>
{% endblock %}
