{% extends 'base.html.twig' %}

{% block content %}
<div class="container mt-1 p-3">
    <div class="row top10">
        <div class="row">
            {% for image in images %}
                <div class="col-xs-12 col-sm-6 radius5white bottom10">
                    <img id="img"
                         class="img-fluid responsive bottom10"
                         alt="zer"
                         title="zer"
                         src="{{ asset('/build/images/'~image~'.png') }}">
                    <input type="text" class="form-control">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
