{% extends 'base.html.twig' %}

{% block content %}
<div class="container mt-1 p-3">


    <div class="row top10">
        <div class="col-xs-12 radius5white">
            Revenez demain !!!
            <br>
            <i class="small text-muted">ou après demain ... fo voir</i>
        </div>
    </div>
{#    <br>#}
{#    <img id="img"#}
{#         class="img-fluid"#}
{#         alt="zer"#}
{#         title="zer"#}
{#         src="{{ '/img/one.jpeg' }}">#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript' src="{{ asset('js/birds.js') }}"></script>
{% endblock %}
